Repository Clement-Muth/deazl, changes with the labels that .github/labeler.yml gives for each.
All labels: kind/pcomparator, kind/documentation, kind/storybook, kind/tests, area/workflow, kind/dependencies

fix: update release workflow to include pull request merge condition
  .github/workflows/release.yml
Labels: area/workflow

fix: update promote-to-production workflow to merge canary into master and adjust PR creation details
  .github/workflows/promote-to-production.yml
  .github/workflows/release.yml
  .yarn/cache/@semantic-release-changelog-npm-6.0.3-32085d167e-10.zip
  .yarn/cache/@semantic-release-error-npm-3.0.0-238eebf38b-10.zip
  .yarn/cache/@semantic-release-git-npm-10.0.1-2fa2e024e6-10.zip
  .yarn/cache/aggregate-error-npm-3.1.0-415a406f4e-10.zip
  .yarn/cache/clean-stack-npm-2.2.0-a8ce435a5c-10.zip
  .yarn/cache/p-reduce-npm-2.1.0-f5593a333c-10.zip
  package.json
  yarn.lock
Labels: area/workflow

fix: update promote-to-production workflow to merge canary into maste… (#140)
  .github/workflows/promote-to-production.yml
  .github/workflows/release.yml
  .yarn/cache/@semantic-release-changelog-npm-6.0.3-32085d167e-10.zip
  .yarn/cache/@semantic-release-error-npm-3.0.0-238eebf38b-10.zip
  .yarn/cache/@semantic-release-git-npm-10.0.1-2fa2e024e6-10.zip
  .yarn/cache/aggregate-error-npm-3.1.0-415a406f4e-10.zip
  .yarn/cache/clean-stack-npm-2.2.0-a8ce435a5c-10.zip
  .yarn/cache/p-reduce-npm-2.1.0-f5593a333c-10.zip
  package.json
  yarn.lock
Labels: area/workflow

fix: update repository URL in package.json
  package.json
Labels: none

fix: remove unused plugins from release configuration
  .releaserc.json
Labels: none

Notes added by 'git notes add'
  58f31d29a2e6d641f92cfad4e86b394a85b784c3
Labels: none

fix: update label for PR creation in promote-to-production workflow
  .github/workflows/promote-to-production.yml
Labels: area/workflow

Notes added by 'git notes add'
  a6ead8c3f6996dbfd321686d8098b386cf718c0b
Labels: none

fix: simplify release workflow by removing pull request trigger
  .github/workflows/release.yml
Labels: area/workflow

Notes added by 'git notes add'
  19511c83e95d54d288b6784a3b6e85bf1787e67f
Labels: none

fix: avoid merge conflicts by resetting to canary's HEAD in promotion workflow
  .github/workflows/promote-to-production.yml
Labels: area/workflow

Notes added by 'git notes add'
  de3dcd540f2ad1a1fb7c1a93f650672aeccc7915
Labels: none

fix: prisma generation
  apps/pcomparator/src/core/errorHandler.ts
  apps/pcomparator/tsconfig.tsbuildinfo
  package.json
Labels: none

fix: prisma generation (#143)
  apps/pcomparator/src/core/errorHandler.ts
  apps/pcomparator/tsconfig.tsbuildinfo
  package.json
Labels: none

Notes added by 'git notes add'
  79003242194e913e434a16163fa954bd10155073
Labels: none

fix: update prisma commands to use npx for consistency
  package.json
Labels: none

Notes added by 'git notes add'
  335a3215a447c07c6b0ad6c173874fb955acae45
Labels: none

Notes added by 'git notes add'
  2de45ad30b81bf5cb882aaa58b310028a04415df
Labels: none

fix: update postinstall script to include prisma generate
  package.json
Labels: none

Notes added by 'git notes add'
  0b2dfa9c841f2324918c8a191051981c875a8562
Labels: none

feat: enhance recipe metadata handling and add theme settings component
  apps/pcomparator/src/app/[locale]/recipes/[id]/page.tsx
  apps/pcomparator/src/app/[locale]/recipes/page.tsx
  apps/pcomparator/src/app/[locale]/settings/page.tsx
  apps/pcomparator/src/applications/Profile/Ui/Settings/Theme.tsx
  apps/pcomparator/src/applications/Recipes/Ui/RecipeDetailsMobile.tsx
  apps/pcomparator/src/applications/Recipes/Ui/RecipesList.tsx
  apps/pcomparator/src/applications/Recipes/Ui/components/AuthGuardButton.tsx
  apps/pcomparator/src/applications/Recipes/Ui/components/LoginCTA.tsx
  apps/pcomparator/src/applications/Recipes/Ui/components/RestrictedActionButton.tsx
  apps/pcomparator/src/applications/Recipes/Ui/metadata.ts
Labels: none

fix: adjust body height class in layout and remove unused DesktopNav component
  apps/pcomparator/src/app/[locale]/layout.tsx
  apps/pcomparator/src/core/ApplicationLayout.tsx
Labels: none

feat: add Modal component and stories; update CollapsibleCard styles
  .yarn/cache/get-tsconfig-npm-4.13.0-009b232bdd-10.zip
  .yarn/cache/resolve-pkg-maps-npm-1.0.0-135b70c854-10.zip
  .yarn/cache/tsx-npm-4.20.6-78231068b5-10.zip
  apps/pcomparator/docs/ADDITIVES_AND_DARK_THEME_UPDATE.md
  apps/pcomparator/package.json
  apps/pcomparator/scripts/migrate-additives.ts
  apps/pcomparator/src/app/[locale]/globals.css
  apps/pcomparator/src/app/[locale]/shopping-lists/page.tsx
  apps/pcomparator/src/applications/Pantry/Ui/PantryPage.tsx
  apps/pcomparator/src/applications/Pantry/Ui/components/PantryItemCard.tsx
  apps/pcomparator/src/applications/Products/Ui/ProductBrowserPage.tsx
  apps/pcomparator/src/applications/Profile/Ui/Settings/Avatar.tsx
  apps/pcomparator/src/applications/Profile/Ui/Settings/FavoriteStores.tsx
  apps/pcomparator/src/applications/Profile/Ui/Settings/OptimalPricing.tsx
  apps/pcomparator/src/applications/Recipes/Domain/Services/AdditiveDatabase.ts
  apps/pcomparator/src/applications/ShoppingLists/Domain/ValueObjects/ProductQuality.vo.ts
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ShoppingListDetailsHeader.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ShoppingListItemCard/ShoppingListItemCard.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ShoppingListItemCard/ShoppingListItemList.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/TotalCostSummary.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingLists/ShoppingListCard.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/components/ProductDetailPage/AdditivesSection.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/components/ProductQuickView/ProductAdditives.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/components/ProductQuickView/ProductQuickView.tsx
  apps/pcomparator/src/applications/StoreManagement/Ui/StoreEnrichmentPanel.tsx
  apps/pcomparator/src/components/BarcodeScanner/BarcodeScanner.tsx
  apps/pcomparator/src/components/Header/PageHeader.tsx
  apps/pcomparator/src/hero.ts
  apps/pcomparator/src/translations/messages/en.po
  apps/pcomparator/src/translations/messages/fr.po
  apps/pcomparator/tsconfig.tsbuildinfo
  packages/components/src/CollapsibleCard/CollapsibleCard.tsx
  packages/components/src/Modal/Modal.stories.tsx
  packages/components/src/Modal/Modal.tsx
  yarn.lock
Labels: kind/storybook

refactor: remove Modal component and its stories
  packages/components/src/Modal/Modal.stories.tsx
  packages/components/src/Modal/Modal.tsx
Labels: kind/storybook

Notes added by 'git notes add'
  8557f493e9dd16e2fe10d9fa5766f1c65146fa98
Labels: none

Notes added by 'git notes add'
  4134958ab240dd7c7f765b194a62326cf0fccc36
Labels: none

fix: update remote image hostname in next.config.ts
  apps/pcomparator/next.config.ts
Labels: none

feat: update branding in manifest and add logo assets
  apps/pcomparator/public/static/logo.png
  apps/pcomparator/public/static/logo.svg
  apps/pcomparator/src/app/favicon.ico
  apps/pcomparator/src/app/favicon.png
  apps/pcomparator/src/app/manifest.ts
Labels: none

Notes added by 'git notes add'
  ba5fdcd7a3025a255f28c640627e0141ee0d308c
Labels: none

feat: add launcher icons and screenshots to manifest
  apps/pcomparator/public/static/manifest/android-launchericon-144-144.png
  apps/pcomparator/public/static/manifest/android-launchericon-192-192.png
  apps/pcomparator/public/static/manifest/android-launchericon-48-48.png
  apps/pcomparator/public/static/manifest/android-launchericon-512-512.png
  apps/pcomparator/public/static/manifest/android-launchericon-72-72.png
  apps/pcomparator/public/static/manifest/android-launchericon-96-96.png
  apps/pcomparator/public/static/manifest/ios/100.png
  apps/pcomparator/public/static/manifest/ios/1024.png
  apps/pcomparator/public/static/manifest/ios/114.png
  apps/pcomparator/public/static/manifest/ios/120.png
  apps/pcomparator/public/static/manifest/ios/128.png
  apps/pcomparator/public/static/manifest/ios/144.png
  apps/pcomparator/public/static/manifest/ios/152.png
  apps/pcomparator/public/static/manifest/ios/16.png
  apps/pcomparator/public/static/manifest/ios/167.png
  apps/pcomparator/public/static/manifest/ios/180.png
  apps/pcomparator/public/static/manifest/ios/192.png
  apps/pcomparator/public/static/manifest/ios/20.png
  apps/pcomparator/public/static/manifest/ios/256.png
  apps/pcomparator/public/static/manifest/ios/29.png
  apps/pcomparator/public/static/manifest/ios/32.png
  apps/pcomparator/public/static/manifest/ios/40.png
  apps/pcomparator/public/static/manifest/ios/50.png
  apps/pcomparator/public/static/manifest/ios/512.png
  apps/pcomparator/public/static/manifest/ios/57.png
  apps/pcomparator/public/static/manifest/ios/58.png
  apps/pcomparator/public/static/manifest/ios/60.png
  apps/pcomparator/public/static/manifest/ios/64.png
  apps/pcomparator/public/static/manifest/ios/72.png
  apps/pcomparator/public/static/manifest/ios/76.png
  apps/pcomparator/public/static/manifest/ios/80.png
  apps/pcomparator/public/static/manifest/ios/87.png
  apps/pcomparator/public/static/manifest/screenshots/home-page.png
  apps/pcomparator/public/static/manifest/screenshots/product-quality.png
  apps/pcomparator/public/static/manifest/screenshots/shopping-list.png
  apps/pcomparator/public/static/manifest/screenshots/signed-home-page.png
  apps/pcomparator/src/app/manifest.ts
Labels: none

feat: add launcher icons and screenshots to manifest (#153)
  apps/pcomparator/public/static/manifest/android-launchericon-144-144.png
  apps/pcomparator/public/static/manifest/android-launchericon-192-192.png
  apps/pcomparator/public/static/manifest/android-launchericon-48-48.png
  apps/pcomparator/public/static/manifest/android-launchericon-512-512.png
  apps/pcomparator/public/static/manifest/android-launchericon-72-72.png
  apps/pcomparator/public/static/manifest/android-launchericon-96-96.png
  apps/pcomparator/public/static/manifest/ios/100.png
  apps/pcomparator/public/static/manifest/ios/1024.png
  apps/pcomparator/public/static/manifest/ios/114.png
  apps/pcomparator/public/static/manifest/ios/120.png
  apps/pcomparator/public/static/manifest/ios/128.png
  apps/pcomparator/public/static/manifest/ios/144.png
  apps/pcomparator/public/static/manifest/ios/152.png
  apps/pcomparator/public/static/manifest/ios/16.png
  apps/pcomparator/public/static/manifest/ios/167.png
  apps/pcomparator/public/static/manifest/ios/180.png
  apps/pcomparator/public/static/manifest/ios/192.png
  apps/pcomparator/public/static/manifest/ios/20.png
  apps/pcomparator/public/static/manifest/ios/256.png
  apps/pcomparator/public/static/manifest/ios/29.png
  apps/pcomparator/public/static/manifest/ios/32.png
  apps/pcomparator/public/static/manifest/ios/40.png
  apps/pcomparator/public/static/manifest/ios/50.png
  apps/pcomparator/public/static/manifest/ios/512.png
  apps/pcomparator/public/static/manifest/ios/57.png
  apps/pcomparator/public/static/manifest/ios/58.png
  apps/pcomparator/public/static/manifest/ios/60.png
  apps/pcomparator/public/static/manifest/ios/64.png
  apps/pcomparator/public/static/manifest/ios/72.png
  apps/pcomparator/public/static/manifest/ios/76.png
  apps/pcomparator/public/static/manifest/ios/80.png
  apps/pcomparator/public/static/manifest/ios/87.png
  apps/pcomparator/public/static/manifest/screenshots/home-page.png
  apps/pcomparator/public/static/manifest/screenshots/product-quality.png
  apps/pcomparator/public/static/manifest/screenshots/shopping-list.png
  apps/pcomparator/public/static/manifest/screenshots/signed-home-page.png
  apps/pcomparator/src/app/manifest.ts
Labels: none

Notes added by 'git notes add'
  d13d36655982c7caefbc4d4f0671f8a12557e581
Labels: none

feat: Enhance SEO configuration and improve CollapsibleCard component
  apps/pcomparator/src/app/[locale]/globals.css
  apps/pcomparator/src/app/[locale]/layout.tsx
  apps/pcomparator/src/app/[locale]/page.tsx
  apps/pcomparator/src/app/opengraph-image.tsx
  apps/pcomparator/src/app/robots.ts
  apps/pcomparator/src/app/robots.txt
  apps/pcomparator/src/app/sitemap.ts
  apps/pcomparator/src/applications/Profile/Ui/Settings/Avatar.tsx
  apps/pcomparator/src/applications/Profile/Ui/Settings/DisplayName.tsx
  apps/pcomparator/src/applications/Profile/Ui/Settings/Theme.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ProductSelectionModal.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ShoppingListContainer.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ShoppingListItemCard/ShoppingListItemCard.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ShoppingListItemCard/ShoppingListItemList.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ShoppingListItemCard/SwipeableItem.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ShoppingListItemCard/useUndoDelete.ts
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/SmartQuickAddBar/SmartItemInput.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/SmartQuickAddBar/SmartQuickAddBar.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/SmartQuickAddBar/SuggestionItem.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/StoreSelector.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/TotalCostSummary.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/useShoppingListActions.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingLists/ShoppingListCard.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingLists/ShoppingListsView.tsx
  apps/pcomparator/src/components/Header/PageHeader.tsx
  apps/pcomparator/src/components/PressableCard/PressableCard.tsx
  apps/pcomparator/src/core/metadata.ts
  apps/pcomparator/src/views/Settings/AppearanceSection.tsx
  apps/pcomparator/src/views/Settings/ContactSection.tsx
  apps/pcomparator/src/views/Settings/ProfileSection.tsx
  apps/pcomparator/src/views/Settings/SettingCard.tsx
  apps/pcomparator/src/views/Settings/SettingsPage.tsx
  apps/pcomparator/src/views/Settings/ShoppingOptimizationSection.tsx
  apps/pcomparator/tsconfig.tsbuildinfo
  docs/SEO_CONFIGURATION.md
  packages/components/src/CollapsibleCard/CollapsibleCard.tsx
Labels: none

feat: improve settings and home page dark theme (#152)
  apps/pcomparator/next.config.ts
  apps/pcomparator/src/app/[locale]/globals.css
  apps/pcomparator/src/app/[locale]/layout.tsx
  apps/pcomparator/src/app/[locale]/page.tsx
  apps/pcomparator/src/app/opengraph-image.tsx
  apps/pcomparator/src/app/robots.ts
  apps/pcomparator/src/app/robots.txt
  apps/pcomparator/src/app/sitemap.ts
  apps/pcomparator/src/applications/Profile/Ui/Settings/Avatar.tsx
  apps/pcomparator/src/applications/Profile/Ui/Settings/DisplayName.tsx
  apps/pcomparator/src/applications/Profile/Ui/Settings/Theme.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ProductSelectionModal.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ShoppingListContainer.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ShoppingListItemCard/ShoppingListItemCard.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ShoppingListItemCard/ShoppingListItemList.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ShoppingListItemCard/SwipeableItem.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/ShoppingListItemCard/useUndoDelete.ts
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/SmartQuickAddBar/SmartItemInput.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/SmartQuickAddBar/SmartQuickAddBar.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/SmartQuickAddBar/SuggestionItem.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/StoreSelector.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/TotalCostSummary.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingListDetails/useShoppingListActions.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingLists/ShoppingListCard.tsx
  apps/pcomparator/src/applications/ShoppingLists/Ui/ShoppingLists/ShoppingListsView.tsx
  apps/pcomparator/src/components/Header/PageHeader.tsx
  apps/pcomparator/src/components/PressableCard/PressableCard.tsx
  apps/pcomparator/src/core/metadata.ts
  apps/pcomparator/src/views/Settings/AppearanceSection.tsx
  apps/pcomparator/src/views/Settings/ContactSection.tsx
  apps/pcomparator/src/views/Settings/ProfileSection.tsx
  apps/pcomparator/src/views/Settings/SettingCard.tsx
  apps/pcomparator/src/views/Settings/SettingsPage.tsx
  apps/pcomparator/src/views/Settings/ShoppingOptimizationSection.tsx
  apps/pcomparator/tsconfig.tsbuildinfo
  docs/SEO_CONFIGURATION.md
  packages/components/src/CollapsibleCard/CollapsibleCard.tsx
Labels: none

Notes added by 'git notes add'
  f0f549ffcbc724a6ab2b494fab79a93a94b92744
Labels: none

feat: add Open Graph images and update metadata handling for locales
  apps/pcomparator/public/static/og/en.png
  apps/pcomparator/public/static/og/fr.png
  apps/pcomparator/src/app/[locale]/layout.tsx
  apps/pcomparator/src/app/recipes-sitemap.xml/route.ts
  apps/pcomparator/src/app/robots.ts
  apps/pcomparator/src/app/sitemap.ts
  apps/pcomparator/src/core/metadata.ts
  apps/pcomparator/src/proxy.ts
Labels: none

Notes added by 'git notes add'
  d82c9cde9b7d92007af8c3e0a574c44e51d9dfcb
Labels: none

feat: add Vercel Analytics and Speed Insights to improve performance tracking
  .yarn/cache/@vercel-analytics-npm-1.5.0-638aefa6a6-10.zip
  .yarn/cache/@vercel-speed-insights-npm-1.2.0-846a2a008a-10.zip
  apps/pcomparator/package.json
  apps/pcomparator/src/app/[locale]/layout.tsx
  yarn.lock
Labels: none

feat: add Vercel Analytics and Speed Insights to improve performance … (#156)
  .yarn/cache/@vercel-analytics-npm-1.5.0-638aefa6a6-10.zip
  .yarn/cache/@vercel-speed-insights-npm-1.2.0-846a2a008a-10.zip
  apps/pcomparator/package.json
  apps/pcomparator/src/app/[locale]/layout.tsx
  yarn.lock
Labels: none

Notes added by 'git notes add'
  05c68aa34d85af6bb315c61b979ebb5d524e5aa7
Labels: none

.github/labeler.yml:

kind/pcomparator:
  - src/**/*

kind/documentation:
  - documentation/**/*

kind/storybook:
  - '**/*/*.stories.*'
  - '**/*/.storybook/**/*'

kind/tests:
  - '**/*/*.spec.*'

area/workflow:
  - .github/workflows/**/*

kind/dependencies:
  - '**/*/composer.lock'
  - '**/*/.yarn/**/*'
  - '**/*/.yarnrc.yml'
  - '**/*/yarn.lock'
